* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background: #ccc;
}

.wrapper {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section:after {
    content: " ";
    display: block;
    clear: both;
}

/* END COMMON STYLE */



header {
    background: #111;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.logo {
    width: 50%;
    float: left;
}

header nav {
    width: 50%;
    float: right;
}

.logo h1 {
    text-align: center;
    font-size: 170%;
    margin: 1%;
}

#span1 {
    color: #ff7f50;
    font-style: italic;
}


#span2 {
    color: #ccc;
}

nav ul li a {
   color: #aaa;
    padding-bottom: 4px;
}

nav ul {
    width: 100%;
    margin: 2% auto;
    text-align: center;
}

nav ul li {
    margin-left: 5%;
    display: inline;
}

nav ul li a:hover {
    color: #fff;
}


.active:hover,
.active:active{
    border-bottom: 1px solid #fff;
}

/*END OF HEADER */

.first-section {
    position: relative;
    min-height: 600px;
    background: url(images/bg.jpg) no-repeat 30% 10%;
    background-size: cover;
}

.first-section h2 {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: #ff7f50;
    font-size: 300%;
}

/*END FOR SECTION*/


.second-section {
    background-color: #000;
}

.second-section form {
    text-align: center;
}

.second-section form input {
    padding: 5px 10px;
    margin: 2% 0;
    font-size: 90%;
    
}

.second-section form input[type="email"] {
    background-color: #ccc;
}

.second-section form input[type="email"]:focus {
    background:#eee; 
}
 
.second-section form input[type="submit"] {
    background: #ff7f50;
    color: #333;
} 

.second-section form input[type="submit"]:hover {
    background: #dd4d20;
}

/*END OD SECOND SECTION*/



.third-section img  {
    width: 50%;
    float: left;
    padding: 5% 0;
    background: #ccc;
}


footer {
    background: #000;
    
}

footer p {
    text-align: center;
    padding: 2% 0;
    font-style: italic;
    font-size: 140%;
    color: #ccc;
}





/*Start about us*/

.abountus {
    padding: 3% 0;
    
}

.abountus h2 {
    text-align: center;
    margin-bottom: 3%;
    color: #555;
}

.abountus div {
    width: 33.3333%;
    float: left;
}

.abountus div img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.abountus div p {
    width: 60%;
    margin: auto;
    text-indent: 15px;
    text-align: justify;
    font-style: italic;
    color: #333;
}

.abountus div p::first-letter {
    font-size: 200%;
}

/* START SERVICES */

.services {
    max-width: 1200px;
    margin: auto;
}

.services div {
    width: 27.333%;
    max-width: 350px;
    min-height: 300px;
    margin: 2%;
    float: left;
    background: #eee;
    padding: 1%;
    border-radius: 15px;
}


.services div h2 {
    text-align: center;
    margin-bottom: 3px;
    color: #fff;
    border-radius: 10px;
    
}

.services div p {
    text-align: center;
    font-size: 110%;
    border-radius: 10px;
    color: #fff;
    font-style: italic;

}


.services div ul {
    width: 90%;
    margin: 3% auto;
    color: #555;
}


.services div ul li:before {
    content: url(images/check.png);
    margin-right: 5px;
}


.services div h3 {
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}


.starter h2,
.starter p,
.starter h3 {
    background: #555;
}


.enhanced h2,
.enhanced p,
.enhanced h3 {
    background: #555;
}



.standard h2,
.standard p,
.standard h3 {
     background: #555;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
        
    }
    .logo {
        width: 100%;
        float: none;
    }
    
    header nav {
        width: 100%;
        float: none;
    }
    
    header nav ul li:first-child {
        margin-left: 0;
    }
    
    /* END NAVIGATION */
    
    .second-section form input {
        padding: 2px 4px; 
    }
      /* END SECOND-SECTION */
    
    .third-section img {
        width: 100%;
        float: none;
        display: block;
    }
    
    /*END THIRD-SECTION*/
    
    footer p {
        font-size: 120%;
    }
    /* END FOOTER*/
    /* END HOME*/
    
    .abountus div {
        width: 100%;
        float: none;
        display: block;
    }
    
    .abountus div img {
        width: 90%;
        margin: 8% auto 2% auto;
    }
    .abountus div p {
        width: 90%;
    }
    
    .services div {
        width: 90%;
        margin: 4% auto 2% auto;
        float: none;
    }
    /*End of services*/
}


@media only screen and (max-width: 1024) and (min-width:769px){
    header nav ul li:first-child {
        margin-left: 0;
    }
    
    .abountus {
        padding: 5% 0;
    }
    
    .abountus div img {
        width: 90%;
    }
    
    .abountus div p {
        width: 90%;
    }
    
    .services div {
        widows: 31.333%;
        margin: 1%;
        padding: 0;
    }
    
    .services div ul {
        width: 100%
    }
}















































































































































